.logo{
  font-family: 'Trebuchet MS', cursive;
  font-size: 72px;
  color: #8d8d8d;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;

}
header{
  text-align: center;
  font-family: 'Optima, sans-serif';
  color: #8d8d8d;
  background-color: rgba(4, 28, 44, 0.863);
}

footer{
  text-align: center;
  font-family: 'Optima, sans-serif';
  color: #8d8d8d;
  background-color: rgba(4, 28, 44, 0.863);
}

p{
  color: black;
  font-family: 'Optima, sans-serif';
}

/* remove bullets from list */
li{
  list-style: none;
}

img{ 
  width: 100%;	
  border-radius: 8px;
  border: 1px solid #201f1e;
} 

iframe { 
  width: 70%;
  height: 600px;	
  border-radius: 8px;
  border: 1px solid #252524;
  margin-left: 20%;
} 

body {
  background-color: rgba(100, 100, 100, 0.5);
}
/* styling for links */
a:link { color: #1a677e; }
a:visited { color: #1b04e6; }
a:hover { color: #313233; }
a:active { color: #313233; }
a:hover {
	text-decoration: underline;	
}

/* Groups & Items  (Mobile First) */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}
