.logo{
  font-family: 'Trebuchet MS', cursive;
  font-size: 72px;
  color: #000000;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;

}
header{
  text-align: center;
  font-family: 'Comic Sans MS';
  background-color: beige;
}

footer{
  text-align: center;
  font-family: 'Comic Sans MS';
  background-color: beige;
}

p, li{
  color: black;
  font-family: 'Comic Sans MS'
}

section{
  text-align: center;
}
img{ 
  width: 60%;	
  border-radius: 8px;
  border: 1px solid #c5c0b8;
} 

iframe { 
  width: 60%;	
  border-radius: 8px;
  border: 1px solid #c5c0b8;
} 

body {
  background-color: lightseagreen;
}