@media (min-width: 768px){
  #home, #about, #contact {
    height: 500px
  }
  #contact {
    padding-bottom: 200px;
  }
}
main{
  width: 100%;
}
iframe {
  width: 100%;
  height: 90%;
}

body, main{
  width: 100%;
  padding: 0;
  margin:0;
}

footer{
  padding: 5px;
}

